<div class="card">
    <div class="card-body">
        <h4 class="text-center">Clients</h4>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Identification</th>
                    <th scope="col">Age</th>
                    <th scope="col">Mail Address</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientList">
                    <td>{{client.$key}}</td>
                    <td>{{client.firstName}}</td>
                    <td>{{client.lastname}}</td>
                    <td>{{client.id}}</td>
                    <td>{{client.age}}</td>
                    <td>{{client.mail}}</td>
                   
                    <td>
                        <a class="btn btn-secondary" (click)="onEdit(client)">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" (click)="onDelete(client.$key)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>